/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1, h2 {
    color: #333;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

input[type="text"], select, button {
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

header input[type="text"] {
    width: 300px;
}

header button {
    padding: 10px 20px;
    background-color: #337ab7;
}

header button:hover {
    background-color: #286090;
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #202C45;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar .logo {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

.sidebar .menu div {
    margin-bottom: 10px;
}

.sidebar .menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar .menu a:hover, .sidebar .menu .active a {
    background-color: #1B2637;
}

.logout {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.logout button {
    background-color: #d9534f;
}

.logout button:hover {
    background-color: #c9302c;
}

/* Main Content Styles */
.main-content {
    margin-left: 220px;
    padding: 20px;
}

.resource-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.module {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
}